# Jumia Products Analysis

### Exploring data

In [87]:
import pandas as pd

In [88]:
df = pd.read_csv('data.csv')

In [89]:
df.head(10)

,Product_Name,Price,Old_Price,Discount,Rating
0,SVEN KB-G9500 Gaming Programmable Mechanical K...,EGP 959.00,"EGP 1,299.00",26%,NaN
1,Redragon K552 KUMARA Gaming Mechanical Keyboar...,"EGP 1,599.00","EGP 1,800.00",11%,4.5 out of 5
2,Point USB MINI KEYBOARD PT-360POINT,EGP 200.00,EGP 200.00,0%,NaN
3,Havit KB488L Rainbow Full Membrane Gaming Keyb...,EGP 450.00,EGP 750.00,40%,4.9 out of 5
4,Aula F2066-II Rainbow Mechanical Gaming Keyboa...,EGP 855.00,EGP 855.00,0%,4.8 out of 5
5,US Keyboard With Backlight For Huawei Matebook...,"EGP 1,929.00","EGP 2,755.00",30%,NaN
6,ZERO ZR 2080 USB Keyboard RGB PRO GAMER - Black,EGP 340.00,EGP 399.00,15%,4.6 out of 5
7,Point USB KEYBOARD RGB PT-203,EGP 240.00,EGP 240.00,0%,4 out of 5
8,HP Pavilion Wireless Keyboard And Mouse 800 Black,"EGP 3,549.00","EGP 3,549.00",0%,5 out of 5
9,Aula WIND F2066-II Gaming Mechanical Keyboard ...,EGP 850.00,"EGP 1,200.00",29%,4.5 out of 5

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product_Name  80 non-null     object
 1   Price         80 non-null     object
 2   Old_Price     80 non-null     object
 3   Discount      80 non-null     object
 4   Rating        35 non-null     object
dtypes: object(5)
memory usage: 3.3+ KB

### Fix data types and Values

In [91]:
df['Price'] = df['Price'].str.replace('EGP', '').str.replace(',', '').astype(float)
df['Old_Price'] = df['Old_Price'].str.replace('EGP', '').str.replace(',', '').astype(float)
df['Discount'] = df['Discount'].str.replace('%', '').astype(float)
df['Rating'] = df['Rating'].str.replace(' out of 5', '').astype(float)

Check null values

In [92]:
df.isnull().sum()

Product_Name     0
Price            0
Old_Price        0
Discount         0
Rating          45
dtype: int64

In [93]:
df.head(10)

,Product_Name,Price,Old_Price,Discount,Rating
0,SVEN KB-G9500 Gaming Programmable Mechanical K...,959.0,1299.0,26.0,NaN
1,Redragon K552 KUMARA Gaming Mechanical Keyboar...,1599.0,1800.0,11.0,4.5
2,Point USB MINI KEYBOARD PT-360POINT,200.0,200.0,0.0,NaN
3,Havit KB488L Rainbow Full Membrane Gaming Keyb...,450.0,750.0,40.0,4.9
4,Aula F2066-II Rainbow Mechanical Gaming Keyboa...,855.0,855.0,0.0,4.8
5,US Keyboard With Backlight For Huawei Matebook...,1929.0,2755.0,30.0,NaN
6,ZERO ZR 2080 USB Keyboard RGB PRO GAMER - Black,340.0,399.0,15.0,4.6
7,Point USB KEYBOARD RGB PT-203,240.0,240.0,0.0,4.0
8,HP Pavilion Wireless Keyboard And Mouse 800 Black,3549.0,3549.0,0.0,5.0
9,Aula WIND F2066-II Gaming Mechanical Keyboard ...,850.0,1200.0,29.0,4.5

Fill empty rating with 0

In [94]:
df['Rating'] = df['Rating'].fillna(0)

Rename `Discount` column to `Discount_Percentage`

In [95]:
df.rename(columns={'Discount': 'Discount_Percentage'}, inplace=True)
df.head(10)

,Product_Name,Price,Old_Price,Discount_Percentage,Rating
0,SVEN KB-G9500 Gaming Programmable Mechanical K...,959.0,1299.0,26.0,0.0
1,Redragon K552 KUMARA Gaming Mechanical Keyboar...,1599.0,1800.0,11.0,4.5
2,Point USB MINI KEYBOARD PT-360POINT,200.0,200.0,0.0,0.0
3,Havit KB488L Rainbow Full Membrane Gaming Keyb...,450.0,750.0,40.0,4.9
4,Aula F2066-II Rainbow Mechanical Gaming Keyboa...,855.0,855.0,0.0,4.8
5,US Keyboard With Backlight For Huawei Matebook...,1929.0,2755.0,30.0,0.0
6,ZERO ZR 2080 USB Keyboard RGB PRO GAMER - Black,340.0,399.0,15.0,4.6
7,Point USB KEYBOARD RGB PT-203,240.0,240.0,0.0,4.0
8,HP Pavilion Wireless Keyboard And Mouse 800 Black,3549.0,3549.0,0.0,5.0
9,Aula WIND F2066-II Gaming Mechanical Keyboard ...,850.0,1200.0,29.0,4.5

Check data after cleaning.

In [96]:
df.describe()

              Price     Old_Price  Discount_Percentage     Rating
count     80.000000     80.000000            80.000000  80.000000
mean    1346.261375   1692.380625            17.025000   1.850000
std     1431.784881   1721.292078            15.404237   2.216223
min       99.990000    125.000000             0.000000   0.000000
25%      463.750000    617.500000             0.000000   0.000000
50%      982.500000   1275.900000            17.500000   0.000000
75%     1599.000000   2016.220000            27.500000   4.500000
max    10299.000000  10299.000000            59.000000   5.000000

### Final Results

#### Product/s with maximum discount:

In [97]:
df[df['Discount_Percentage'] == df['Discount_Percentage'].max()]

,Product_Name,Price,Old_Price,Discount_Percentage,Rating
61,Mini Keyboard Wireless With Touch Pad,266.0,650.0,59.0,4.2

#### Product/s with maximum Price:

In [98]:
df[df['Price'] == df['Price'].max()]

,Product_Name,Price,Old_Price,Discount_Percentage,Rating
46,Hori Tactical Assault Commander (TAC) Mechanic...,10299.0,10299.0,0.0,0.0

#### Product/s with minimum Price:

In [99]:
df[df['Price'] == df['Price'].min()]

,Product_Name,Price,Old_Price,Discount_Percentage,Rating
63,Unique Skull Mouse Pad For Laptop And Computer,99.99,129.99,23.0,0.0

#### Product/s with maximum Rating:

In [100]:
df[df['Rating'] == df['Rating'].max()]

,Product_Name,Price,Old_Price,Discount_Percentage,Rating
8,HP Pavilion Wireless Keyboard And Mouse 800 Black,3549.0,3549.0,0.0,5.0
17,T-Dagger T-TGK313 Mechanical Gaming Keyboard [...,950.0,1200.0,21.0,5.0
27,Redragon K512 SHIVA RGB Gaming Keyboard With 8...,1750.0,2275.0,23.0,5.0
37,Bigfun Rechargable Electronic Keyboard – 61 Keys,2500.0,2500.0,0.0,5.0
52,Redragon K506 Rainbow Gaming Membrane Keyboard...,999.0,999.0,0.0,5.0
60,Manhattan Ultra Slim Dual-Mode Wireless Keyboard,799.0,959.0,17.0,5.0
65,Point Wired Keyboard PT-504,260.0,260.0,0.0,5.0
73,Manhattan Ultra Slim Dual-Mode Wireless Keyboa...,799.0,959.0,17.0,5.0